# Belirli bir dosyayı es geçmek için
test_test.py


# Belirli bir dizini es geçmek için
logs/


# Belirli bir uzantılı dosyaları es geçmek için
*.styl
*.xls
*.xlsx
*.ods
*.log


# error.log dosyaları hariç.
!errors.log
