# Belirli bir dosyayı es geçmek için
# git update-index --assume-unchanged <dosya_adi>
test

# Belirli bir dizini es geçmek için
/logs
/banka
/ikys
/kbs
/rapor


# Belirli bir uzantılı dosyaları es geçmek için
*.styl
*.xls
*.xlsx
*.ods
*.docx
*.doc
*.ppt
*.pptx
*.txt
*.odt
*.odp
*.log


# error.log dosyaları hariç.
!errors.log
!maas_verileri.xlsx
!Albaraka_MaasOdemeDosyasi.xlsx
!moduller.txt
