# Belirli bir dosyayı es geçmek için
# git update-index --assume-unchanged <dosya_adi>
test

# Belirli bir dizini es geçmek için
#/banka
#/ikys
#/kbs
/rapor
/logs

# Belirli bir uzantılı dosyaları es geçmek için
*.styl
*.xls
*.xlsx
*.ods
*.docx
*.doc
*.ppt
*.pptx
*.txt
*.odt
*.odp
*.log


# error.log dosyaları hariç.
!errors.log
!maas_verileri.xlsx
!/banka/Albaraka_MaasOdemeDosyasi.xlsx
!moduller.txt
